@import url("https://use.typekit.net/nsx2tiw.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-size: 16px;
  font-family: montserrat pacifico sans-serif;
  line-height: 1.6;
}

.hero-details h6 {
  color: #000;
  font-size: 24px;
  font-family: montserrat sans-serif;
  font-style: normal;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

p {
  font-size: 18px;
}

h1, .i {
  text-align: center;
}


.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px;
  justify-content: center;
}

.hero-details h1 {
   font-family: pacifico, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 120px;
  line-height: 1.0;
  color: #EC594D;
  margin-bottom: 32px;
}

.hero {
  background-image: url(https://drive.google.com/uc?export=view&id=1JlRVFyMQRPi7Hfqz7BQporBrmeeH0yG7);
  height: 790px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-details {
  padding-top: 300px;
  text-align: center;
 
}

.hero-details i {
  margin-top: 50px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.05);
  color: #EC594D;
  background: rgba(236, 89, 77, 0.1);
  padding: 32px;
  font-size: 40px;
  border-radius: 50%;
}
.article {
  padding-top: 100px;
}

.article h1 {
  font-family: montserrat, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 32px;
  line-height: 1.0;
  color: #000;
}

.container .hero {
  justify-content: center;
}

.faqs-head {
  color: #EC594D;
  font-size: 18px;
  font-family: montserrat sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
}

.faqs h4 {
  color: #000;
  font-size: 24px;
  font-family: montserrat sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center; 
  margin: 20px 0;
  }


.faqs {
  margin-top: 100px;
  margin-bottom: 100px;
}

.faqs-body {
  background:  #FDEEED;
  border: 1px solid #EC594D;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.faqs-body h6{
  color: #ec594d;
}

.faqs-others {
  background:  #fff;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.faqs-others h6 {
  color: #000;
}

.faqs-body .faqs-others i {
  color: #000;
  background: none;
  width: auto;
  height: auto;
  border: 1px solid #000;
}


/*CONTENT*/
.content-body h2 {
  color: #EC594D;
   font-size: 32px;
  font-family: montserrat sans-serif;
  font-style: normal;
  font-weight: bold;
}

.content-body-center h2 {
  color: #EC594D;
   font-size: 32px;
  font-family: montserrat sans-serif;
  font-style: normal;
  font-weight: bold;
}

.content p {
  line-height: 1.6;
  width: 80%;
  font-size: 18px;
}

.content-center p {
  line-height: 1.6;
  width: 80%;
  font-size: 18px;
}


.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-center {
  display: flex;

  align-items: center;
  margin: 0px
}

.content-body-center {
  padding-top: 50px;
}

.content-body {
  padding-top: 50px;
}

.content img {
  padding-left: 0px;
  justify-content: space-between;
}



.article i {
  margin-top: 50px;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.05);
  color: #EC594D;
  background: rgba(236, 89, 77, 0.1);
  padding: 32px;
  font-size: 40px;
  border-radius: 50%;
}



/*cta*/
.cta h4 {
  color: #000;
  font-size: 24px;
  font-family: montserrat sans-serif;
  font-style: normal;
  font-weight: bold;
  text-align: center; 
  margin: 20px 0;
  }

  .cta p {
  line-height: 1.6;
  width: 100%;
  font-size: 18px;
  margin: 20px 0 0 0;
  text-align: center;
  }

.cta {
  text-align: center;
}

.button {
  background: #EC594D;
  padding: 8px 24px;
  border: none;
  border-radius: 300px;
  margin-top: 25px;
}

.button a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: montserrat sans-serif;
  font-weight: 600;
}

.button:hover {
  background: #A2190D;
}

  .cta img {
    margin: 40px;
  }

/*footer*/
.hr {
  margin: 20px;
}

.footer-content {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  display: flex;
}


.footer-content p {
  font-size: 12px;
  text-decoration: none;
  color: #000;
  font-family: montserrat sans-serif;
  font-weight: 400;
}


.terms {
  display: flex;
}

.icon i {
  margin: 8px;
  padding-top: 8px;
  font-size: 12px;
  border-radius: 100%;
  border: 1px #EC594D solid;
  width: 32px;
  height: 32px;
  text-align: center;
}

.terms a {
  text-decoration: none;
  color: #000;
  display: inline;
}

.terms p {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*.order-two {
  order:1;

}
.order-one {
  order: 2;
}*/

@media (max-width: 768px) {
  .hero {
    padding-top: 20px;
    text-align: center;
    background-repeat: no-repeat;
    background: url(https://drive.google.com/uc?export=view&id=1qnTkrrUyxLkDeY1m1TjchwR0blSwjsEI);
    height: 790px;
    background-size: cover;
  }
    .content {
    padding-top: 20px;
    flex-direction: column;
  }

  .content img {
    margin-top: 50px;
  }

  .content-center {
    padding-top: 20px;
    flex-direction: column-reverse;
  }

  .content-center img {
    margin-top: 50px;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}



